
.container {
    margin-top: 40;
    padding-left: 20;
    margin-bottom: 80px;
        
}

body {
    background-color: #cccccc;
    font-family: 'Poppins', sans-serif;
}

fieldset {
    margin: 50px;
}

div .unchecked {
    color: black;
}

div .checked {
    color: rgb(220, 23, 180); 
}

.row {
    margin: 20px;
    padding-top: 20px;
}

.col {
    margin: 20px;
}

.space {
    margin: 20 px;
}


.footerlogo-editor {
    max-width: 20%;
    max-width: 20%;
}